{{template "public" .}}

{{define "title"}}site template{{end}}

{{define "content"}}
    <div class="container">
        hello

    </div>
{{end}}


{{define "css"}}
    <style>
    </style>
{{end}}


{{define "js"}}

    <script>

    </script>

{{end}}