{{template "public" .}}

{{define "title"}}site template{{end}}

{{define "content"}}
    <div class="container">
        hello

        <p id="some-text">some text</p>
    </div>

    <script src="/static/js/index.js"></script>
{{end}}


{{define "css"}}
    <style>
    </style>
{{end}}


{{define "js"}}

    <script>

    </script>

{{end}}